@import "tailwindcss";

body{
    @apply bg-zinc-900 text-zinc-200;
}

.activeMTSearchBar{
    @apply bg-radial from-zinc-700 to-zinc-900 from-5% 
}
.unactiveMTSearchBar{
    @apply bg-radial from-zinc-800 hover:from-zinc-600 to-zinc-900 from-5% 
}

.gradientSettings{
    background-image: radial-gradient(
        circle at 50% 250%,
        hsl(259, 13%, 28%),
        transparent
    );
}

hover_gradientSettings:hover{
    background-image: radial-gradient(
        circle at 50% 250%,
        hsl(259, 13%, 28%),
        transparent
    );
}